---
import SocialLinks from "./SocialLinks.astro";
---
<footer>
    <p>Copyright &copy; 1971. Ricky</p>
    <SocialLinks platform="twitter" username="baldWebDev"/>
    <SocialLinks platform="instagram" username="baldWebDev"/>
</footer>