---
import Navigation from './Navigation.astro'
import Hamburger from "./Hamburger.astro";
---

<header>
    <nav>
        <Hamburger/>
        <Navigation/>
    </nav>
</header>

<style>
    header {
        background-color: orangered;
        color: lightsalmon;
        padding: 15px;
    }
</style>